:root {
    --white: #ffffff;
    --black: #0A0A0A;
    --bittersweet: #D52920;
    --slateblue: #77878B;
    --gray: #212121;
}

::selection {
    background: var(--black);
    color: var(--bittersweet);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: none;
}

body {
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
}

#root {
    background-color: #f5fbff00;
    color: var(--black);
    font-family: Chillax, sans-serif;
    font-size: 16px;
    max-height: 100vh;
    padding-bottom: 100px;
    overflow: hidden scroll;
    scroll-behavior: auto;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Clash Display", sans-serif;
}

a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: transparent;
    color: rgba(14, 14, 14, 0.69);
    transition: translate 0.3s;
    margin: 0.25rem auto;
}

#nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0.5rem 2rem;
    max-width: 1000px;
    color: #ffffff;
    background-color: #2121219c;
    backdrop-filter: invert(.3) blur(10px) brightness(0.6);
    border-radius: 60px;
    outline: none;
    border: none;
}

#nav h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .02em;
}

#nav .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#nav .menu-toggler {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position: relative;
    display: none;
}

#nav .menu-toggler span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav .menu-toggler span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

#nav .menu-toggler span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#nav .menu-toggler span:nth-child(3) {
    display: none;
}

#nav .links {
    display: flex;
    align-items: center;
}

#nav .links a {
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0.2rem 1rem;
    border-radius: 0.7rem;
    text-decoration: none;
    color: #f1f1f1;
    opacity: 0.8;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgb(250 250 250 / 0%);
    color: var(--black);
    text-align: center;
    padding: 1rem;
    position: relative;
}

#hero h1 {
    font-size: 100px;
    font-family: "Clash Display";
    text-transform: capitalize;
    font-weight: 600;
    color: rgba(26, 26, 26, 0.85);
    max-width: 1000px;
}

.pages {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
    transition: 0.3s;
}

div#all {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    transition: 0.3s;
}

#all > p {
    font-size: 20px;
    padding: 20px;
}

.pages {
    height: 100vh;
}

.page {
    width: 300px;
    min-width: 300px;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.067);
    transition: 0.3s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-ref img {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 11px;
}

#soundControl {
    position: relative;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0);
    opacity: 0.6;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0.1em;
    transition: 0.3s;
}

#soundControl:is(:hover, :focus) {
    outline: none;
    opacity: 1;
}



#video-feature {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 100vh;
    aspect-ratio: 1 / 3;
}


.video-feature-container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
}


.video-feature-container .content {
    position: relative;
    min-width: 400px;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: fit-content;
}


.show-reel-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    transition: 0.5s;
    width: fit-content;
}

.show-reel-video {
    position: sticky;
    top: 0;
    width: 100vw;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    will-change: width;
    z-index: 2;
}

.content  {
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: .4s;
}

.content h3 {
    font-size: 3em;
    font-family: 'Chillax';
    font-weight: 500;
    color: #444;
    text-align: center;
}

.cta-button {
    position: sticky;
    bottom: 10px;
    font-size: 1.25em;
    padding: .25em 1.5em;
    color: var(--bittersweet);
    border: 3px solid #ddd;
    border-radius: 25px;
    font-family: 'Clash Display';
    transition: .3s;
    z-index: 1;
}

.cta-button:hover {
    background: var(--bittersweet);
    color: #fff;
    font-weight: 600;
    border: 3px solid var(--white);
}